<h1>Editing cabfactura</h1>

<% form_for(@cabfactura) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @cabfactura %> |
<%= link_to 'Back', cabfacturas_path %>