<h1>New retencionganancia</h1>

<% form_for(@retencionganancia) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', retencionganancias_path %>