<h1>Edición de la lista de precios</h1>
<br />

 <%= netzke :listaprecios_and_grillalistas, 
    :widget_class_name    => "ListapreciosAndGrillalistas",
    :container_class_name => "Listaprecio",
    :element_class_name   => "Grillalista"   %> 


