<h1>Listing renasientos</h1>

<table>
  <tr>
  </tr>

<% @renasientos.each do |renasiento| %>
  <tr>
    <td><%= link_to 'Show', renasiento %></td>
    <td><%= link_to 'Edit', edit_renasiento_path(renasiento) %></td>
    <td><%= link_to 'Destroy', renasiento, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New renasiento', new_renasiento_path %>